<!-- src/main/resources/templates/login.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
        <title>登录</title>
</head>
<body>
    <h2>用户登录</h2>
    
    <div th:if="${param.error}">
        <p style="color:red">用户名或密码错误</p>
    </div>
    
    <div th:if="${param.logout}">
        <p style="color:green">已退出登录</p>
    </div>
    
    <form method="post" action="/login">
        <div>
                <label>用户名：</label>
            <label>
                <input type="text" name="username"/>
            </label>
        </div>
        <div>
                <label>密码：</label>
            <label>
                <input type="password" name="password"/>
            </label>
        </div>
        <button type="submit">登录</button>
    </form>
</body>
</html>